@font-face {
    font-family: "Helmet";
    src: url('./fonts/Helmet-Regular.ttf');
}

@font-face {
    font-family: "Whyte";
    src: url('./fonts/Whyte-Regular.ttf');
}

/*

body {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    font-family: Roboto;
    background-image: url(./assets/asset5.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

p {
    font-size:large;
}

a {
    text-decoration: none;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    width: 90%;
    overflow-x: hidden;
}

h4 {
    color: #000;
    text-align: center;
    font-size: 1.7vh;
}

.li {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    background-color: #fff;
    opacity: 1;
    transition: flex-grow .3s ease-in, opacity .3s ease-in;
}

.li:hover {
    flex-grow: 2;
}

.li:hover ~ .li h4 {
    opacity: 0;
    transition: opacity .3s ease-in;
    overflow-y: hidden;
}

.li:hover ~ #text {
    opacity: 0;
}

.li:not(:hover) {
    flex-grow: .5;
}

.li img {
    display: none;
}

.p {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    padding: 2vh;
    color: #fff;
    font-weight: 500;
    text-align: center;
    width: 90%;
    max-width: 88%;
    height: 10vh;
    font-size: 2.3vh;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(.7vh);
}

.i1 {
    border-radius: 1vh 0 0 1vh;
}

.i5 {
    border-radius: 0 1vh 1vh 0;
}

.info {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(.7vh);
    padding: 2vh;
    border-radius: 2vh;
}

.serv {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    color: #acacac;
}

.nav p {
    font-size: 2vh;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.social {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    background-color: #fff;
    padding: 1vh;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
}

.pedido {
    position: relative;
    background-color: #fff;
    border-radius: .7vh;
    padding: 1vh;
    height: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido p {
    font-size: 1.5vh;
    color: black;
    font-weight: bolder;
}

.btn {
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.904);
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.904);
}

.social img {
    position: absolute;
    width: 50%;
    height: 50%;
}

.logo {
    width: 6vh;
    border-radius: 1vh;
    border: .3vh solid #fff;
}

.intro {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.intro h3 {
    color: #fff;
    font-size: 10vh;
}

.intro p {
    font-size: 2.2vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    color: #acacac;
}

.phr {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phr p {
    width: 30%;
    font-size: 2vh;
}

.phr a {
    text-decoration: none;
    color: #fff;
}

.phr a:hover {
    text-decoration: underline;
}

*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    font-family: Helmet;
    background-color: #9C7BFF;
    color: black;
}

img, h1, p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.window {
    width: 100%;
    height: 100%;
}

.main {
    width: 75%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #50FFAF;
    border-bottom: .4vh solid black;
}

.msg1 {
    color: #000;
    font-family: Whyte;
    font-weight: bolder;
    font-size: 15vh;
    margin: 0;
}

.contact, .contact-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vh;
    gap: 2vh;
}

.contact img, .contact-mobile img {
    width: 2.9vh;
}

.contact a, .contact-mobile a, .serv {
    background-color: #F8FF1D;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.9vh 2vh;
    border: .5vh solid black;
    border-radius: 1.2vh;
    box-shadow: .5vh .5vh 0 .1vh #000;
    text-decoration: none;
    cursor: pointer;
}

.contact a:active, .contact-mobile a:active, .serv:active {
    background-color: #dadada;
    transform: translateY(.4vh);
    box-shadow: .1vh .1vh 0 .1vh #000;
}

.order {
    padding: 0vh 2vh !important;
    animation: breathing 2s ease-out infinite;
}

@keyframes breathing {
    0% { transform: scale(1); }
    50% { transform: scale(1.04); }
    100% { transform: scale(1); }
}

.contact p, .contact-mobile p {
    color: black;
    font-weight: bolder;
}

.logo {
    background-color: #F8FF1D;
    width: 8vh;
    margin: 5vh;
    border: .5vh solid black;
    box-shadow: .5vh .5vh 0 .1vh #000;
}

.nav {
    height: fit-content;
    font-size: 2.2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #9C7BFF;
}

.nav-mobile {
    display: flex;
}

.mobile-logo {
    width: 2vh;
    display: none;
}

.serv {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin: 1vh;
    cursor: pointer;
}

.serv p {
    font-weight: bold;
    margin: 0;
}

.msg2 {
    top: 40%;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg2 p {
    color: black;
    text-align: center;
    font-size: 3.5vh;
    width: 35vh;
    padding: 3vh;
    background: linear-gradient(45deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%);
    background-color: rgba(102, 0, 255, 0.7);
    border: .2vh solid black;
    border-radius: 1vh;
    box-shadow: .5vh .5vh 0 .1vh black;
    background-color: #fffc46;
}

.msg-container {
    position: relative;
}

.tab {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    border: .3vh solid black;
    border-radius: 2vh;
    user-select: none;
    box-shadow: .5vh .5vh 0 .1vh #000;
    background-color: #fff;
}

.tab p {
    font-size: 2.5vh;
    font-weight: bold;
    padding-left: 3vh;
    padding-right: 3vh;
}

.gif {
    width: 98%;
    margin-bottom: 1%;
    border-radius: 0 0 1.5vh 1.5vh;
}

.top {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vh;
    padding-right: 1vh;
    width: 90%;
    border-radius: 1.5vh;
    margin-top: 1%;
}

.garpa .top {
    border-radius: 1.5vh 1.5vh 0 0;
}

.url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}

.url h1 {
    font-size: 2.5vh;
    font-weight: 500;
}

.url img {
    width: 2.5vh;
    background-color: #F8FF1D;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.btns {
    width: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-bar, .btn-sqr {
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.bar {
    margin-top: 1.6vh;
    width: 1.9vh;
    height: 0;
    border: .1vh solid black;
    border-radius: 2vh;
}

.square {
    width: 1.5vh;
    height: 1.5vh;
    border: .4vh solid black;
    border-radius: .2vh;
}

.ex {
    position: relative;
    width: 1.5vh;
    height: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1, .line2 {
    position: absolute;
    border: .1vh solid #BEBEBE;
    width: 2.2vh;
    height: 0;
    left: calc(50% - 1.06vh);
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(-45deg);
}

.garpa {
    top: 30vh;
    left: 66vh;
}

.spark1, .spark2, .spark3 {
    z-index: 2;
    position: absolute;
    animation: breathing .5s ease-in-out infinite;
}

.spark1 {
    top: 0vh;
    left: 6vh;
    width: 2vh !important;
}

.spark2 {
    top: 1.1vh;
    left: 2vh;
    width: 5vh !important;
}

.spark3 {
    top: 6vh;
    left: 1vh;
    width: 2vh !important;
}

.website {
    top: 32vh;
    left: 68vh;
}

.domain {
    top: 34vh;
    left: 70vh;
}

.seo {
    top: 42vh;
    left: 72vh;
}

.email {
    top: 44vh;
    left: 74vh;
}

.qr {
    top: 46vh;
    left: 76vh;
}

.indicator {
    z-index: 10;
    font-size: 2.5vh;
    top: 36vh;
    left: 122vh;
    width: 30vh !important;
    text-align: center;
    animation: rock 1s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    font-size: 5vh;
}

@keyframes rock {
    0% { transform: translateX(-.5vh); }
    50% { transform: translateX(.5vh); }
    100% { transform: translateX(-.5vh); }
}

.about {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 35vh;
    right: 2%;
    top: 22%;
    background-color: #50FFAF;
    border-radius: 2vh;
    border: .4vh solid black;
    box-shadow: .5vh .5vh 0 .1vh black;
}

.about img {
    width: 80%;
    border: .4vh solid black;
    border-radius: 2vh;
    box-shadow: .4vh .4vh 0 .1vh black;
    background: radial-gradient(circle at center bottom, #B2851E, transparent);
    background-color: #F8FF1D;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc h4 {
    font-size: 3vh;
    margin-bottom: 0;
}

.desc p {
    font-size: 2vh;
    font-weight: bold;
    width: 80%;
    margin-bottom: 5vh;
}

.footer {
    font-size: 2.2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 40%;
    padding-left: 1vh;
    padding-right: 1vh;
    top: 90vh;
    left: 0;
}

.footer p {
    width: 40%;
}

.contact-mobile {
    display: none;
}

.term {
    font-weight: lighter;
    color: #fff;
}
